@import url("reset.css");

/* 'font-size' com unidade 'rem' - relativa */
/* 'border' com unidade 'px' - absoluta/fixa */

/* Buttons */
.btn {
    border-radius: 30px;
    border-width: 2px;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 6px 10px 6px 10px;
}
.btn-brown-open {
    border-style: solid;
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}
.btn-brown-open:hover {
    border-style: solid;
    border-color: var(--highlight-color);
    color: rgb(255, 255, 255);
    background-color: var(--highlight-color);
    transition: 0.35s;
}

.btn-simple {
    color: var(--highlight-color);
}
.btn-simple:hover {
    color: var(--highlight-color);
}

/* .btn-brown-closed {
    border-style: solid;
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
    color: rgb(255, 255, 255);
}
.btn-brown-closed:hover {
    border-style: solid;
    border-color: var(--highlight-color);
    color: rgb(255, 255, 255);
    transition: 0.35s;
    transform: scale(1.04);
    transition-duration: 0.35s;
} */


/* Icons */

/* add item no carrinho */
i.bi-cart-plus {
    font-size: 2.8rem;
    color: var(--footer-color);
}
i.bi-cart {
    color: var(--highlight-color);
    font-size: 2.8rem;
}

/* inputs */
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.input-group {
    background-color: white;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-width: 2px;
    border-color: var(--highlight-color);
    border-radius: 40px;
    width: 100%;
}
.input-group .busca {
    background: none;
    border: none;
    font-size: 2rem;
    outline: none;
    width: 85%;
}
.input-group #basic-addon1 {
    background: none;
    border: none;
    padding: none;
    color: var(--highlight-color);
}

.bg-contrast {
    background-color: var(--background-color);
    opacity: 0.8;
}