@import url("root.css");

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html body {
    /* background-image: url('https://st.depositphotos.com/1172692/3983/v/450/depositphotos_39833949-stock-illustration-seamless-dark-vector-pattern-or.jpg'); */
    background-color: var(--background-color);
    background-image: url("https://thumbs.dreamstime.com/b/pastry-sweet-bakery-seamless-pattern-baked-goods-confectionery-baking-design-hand-drawn-ice-cream-cakes-coffee-doodles-187106628.jpg");
    background-size: 180px;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
}
header {
    background-color: var(--contrast-color);
    top: 0;
    display: block;
    line-break: normal;
    position: static;
}
footer.home {
    background-color: var(--footer-color);
    bottom: 0;
    color: var(--background-color);
    display: block;
    line-break: normal;
}
footer.admin {
    background-color: var(--footer-color);
    bottom: 0;
    color: var(--background-color);
    display: block;
}